{% capture email_title %}Confirm you want to receive email marketing{% endcapture %}
{% capture email_body %}You need to confirm that you want to receive marketing updates from us. If you didn’t subscribe, then you don’t need to do anything.{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
      .button { background: {{ shop.email_accent_color }}; }
      a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
    </style>
  </head>
  <body>
    {%- if shop.email_logo_url %}
      <img src="{{ shop.email_logo_url }}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
    {%- else %}
      <h1>
        <a href="{{ shop.url }}">{{ shop.name }}</a>
      </h1>
    {%- endif %}

    <h2>{{ email_title }}</h2>
    <p>{{ email_body }}</p>

    {% if shop.url %}
      <a href="{{ customer.subscribe_url }}">Subscribe</a>
    {% endif %}

    <p>If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
  </body>
</html>
