{% capture email_title %}Thank you for your purchase! {% endcapture %}
{% capture email_body %}
  {% if requires_shipping %}
  {% case delivery_method %}
      {% when 'pick-up' %}
        You’ll receive an email when your order is ready for pickup.
      {% else %}
        Hi {{ customer.first_name }}, we're getting your order ready to be shipped. We will notify you when it has been sent.
    {% endcase %}
  {% endif %}
{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
      .button { background: {{ shop.email_accent_color }}; }
      a, a:hover, a:active, a:visited { color: {{ shop.email_accent_color }}; }
    </style>
  </head>
  <body>
    {%- if shop.email_logo_url %}
      <img src="{{ shop.email_logo_url }}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
    {%- else %}
      <h1>
        <a href="{{ shop.url }}">{{ shop.name }}</a>
      </h1>
    {%- endif %}

    <h2>Order {{ order_name }}</h2>
    <h2>{{ email_title }}</h2>
    <p>{{ email_body }}</p>

    {% if order_status_url %}
      <a href="{{ order_status_url }}">View your order</a>
      {% if shop.url %}
        or <a href="{{ shop.url }}">Visit our store</a>
      {% endif %}
    {% else %}
      {% if shop.url %}
        <a href="{{ shop.url }}">Visit our store</a>
      {% endif %}
    {% endif %}

    {% assign gift_card_line_item = line_items | where: "gift_card" %}
    {% if gift_card_line_item.first %}
      <h3>Gift card</h3>
      <p> You’ll receive separate emails for any gift cards.</p>
    {% endif %}

    <h3>Order summary</h3>
    {% for line in subtotal_line_items %}
      {% if line.image %}
        <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" />
      {% endif %}

      {% if line.product.title %}
        {% assign line_title = line.product.title %}
      {% else %}
        {% assign line_title = line.title %}
      {% endif %}

      {% if line.quantity < line.quantity %}
        {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
      {% else %}
        {% assign line_display = line.quantity %}
      {% endif %}

      {{ line_title }}&nbsp;&times;&nbsp;{{ line_display }}

      {% if line.variant.title != 'Default Title' %}
        {{ line.variant.title }}
      {% endif %}

      {% if line.selling_plan_allocation %}
        {{ line.selling_plan_allocation.selling_plan.name }}
      {% endif %}

      {% if line.refunded_quantity > 0 %}
        Refunded
      {% endif %}

      {% if line.discount_allocations %}
        {% for discount_allocation in line.discount_allocations %}
          {% if discount_allocation.discount_application.target_selection != 'all' %}
            <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" />
            {{ discount_allocation.discount_application.title | upcase }}
            (-{{ discount_allocation.amount | money }})
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if line.original_line_price != line.final_line_price %}
        <del>{{ line.original_line_price | money }}</del>
      {% endif %}

      <p>
        {% if line.final_line_price > 0 %}
          {{ line.final_line_price | money }}
        {% else %}
          Free
        {% endif %}
      </p>
    {% endfor %}

    {% for discount_application in discount_applications %}
      {% if discount_application.target_selection == 'all' %}
        {% capture discount_title %}
          {% if discount_application.title %}
            {{ discount_application.title | upcase }}
          {% else %}
            Discount
          {% endif %}
        {% endcapture %}
        <p>
          Discount
          <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" />
          {{ discount_title }}
        </p>
        <strong>-{{ discount_application.total_allocated_amount | money }}</strong>
      {% endif %}
    {% endfor %}

    <p>
      Subtotal
    </p>
    <strong>{{ subtotal_price | money }}</strong>

    {% if delivery_method == 'pick-up' %}
      <p>
        Pickup
      </p>
      <strong>{{ shipping_price | money }}</strong>
    {% else %}
      <p>
        Shipping
      </p>
      <strong>{{ shipping_price | money }}</strong>
    {% endif %}

    {% if current_total_duties %}
      <p>
        Duties
      </p>
      <strong>{{ current_total_duties | money }}</strong>
    {% endif %}

    <p>
      Taxes
    </p>
    <strong>{{ tax_price | money }}</strong>

    {% if total_tip and total_tip > 0 %}
      <p>
        Tip
      </p>
      <strong>{{ total_tip | money }}</strong>
    {% endif %}

    <p>
      Total
    </p>
    <strong>{{ total_price | money_with_currency }}</strong>

    {% if total_discounts > 0 %}
      <p>
        You saved {{ total_discounts | money }}
      </p>
    {% endif %}

    {% assign transaction_size = 0 %}
    {% assign transaction_amount = 0 %}
    {% for transaction in transactions %}
      {% unless transaction.kind == "capture" or transaction.kind == "void" %}
        {% assign transaction_size = transaction_size | plus: 1 %}
        {% assign transaction_amount = transaction_amount | plus: transaction.amount %}
      {% endunless %}
    {% endfor %}

    {% if transaction_size > 1 or transaction_amount < total_price %}
      {% for transaction in transactions %}
        {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
          {% if transaction.payment_details.credit_card_company %}
            {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (ending in {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
          {% else %}
            {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture %}
          {% endif %}

          <p>
            {{ transaction_name }}
          </p>
          <strong>{{ transaction.amount | money }}</strong>
        {% endif %}

        {% if transaction.kind == 'refund' %}
          {% if transaction.payment_details.credit_card_company %}
            {% assign refund_method_title = transaction.payment_details.credit_card_company %}
          {% else %}
            {% assign refund_method_title = transaction.gateway %}
          {% endif %}

          <p>
            Refund {{ refund_method_title | capitalize }}
          </p>
          <strong>- {{ transaction.amount | money }}</strong>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h3>Customer information</h3>
    {% if requires_shipping and shipping_address %}
      <h4>Shipping address</h4>
      {{ shipping_address | format_address }}
    {% endif %}

    {% if billing_address %}
      <h4>Billing address</h4>
      {{ billing_address | format_address }}
    {% endif %}

    {% if requires_shipping and shipping_address %}
      <h4>Shipping method</h4>
      <p>{{ shipping_method.title }}</p>
    {% endif %}

    {% assign transaction_count = transactions | size %}
    {% if transaction_count > 0 %}
      <h4>Payment method</h4>
      {% for transaction in transactions %}
        {% if transaction.status == "success" or transaction.status == "pending" %}
          {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
            {% if transaction.payment_details.credit_card_company %}
              <p>
                <img src="{{ transaction.payment_details.credit_card_company | payment_icon_png_url  }}" height="24" alt="{{ transaction.payment_details.credit_card_company }}">
                ending with {{ transaction.payment_details.credit_card_last_four_digits }} &mdash; <strong>{{ transaction.amount | money }}</strong>
              </p>
            {% elsif transaction.gateway_display_name == "Gift card" %}
              <p>
                <img src="{{ transaction.gateway_display_name | downcase | replace: ' ', '-'  | payment_type_img_url }}" height="24">
              ending with {{ transaction.payment_details.gift_card.last_four_characters | upcase }} &mdash; <strong>{{ transaction.amount | money }}</strong> <br />
                &emsp;&emsp;&emsp;&nbsp;Gift card balance: {{ transaction.payment_details.gift_card.balance | money }}
              </p>
            {% else %}
              <p>
              {{ transaction.gateway_display_name }} &mdash; <strong>{{ transaction.amount | money }}</strong>
              </p>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <p>If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
  </body>
</html>

